.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 300ms linear,
        visibility 300ms linear;
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    position: relative;
    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: border-color, color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
    border-color: #2196F3;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    ont-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-textarea {
    margin-bottom: 30px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.modal-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition-property: border-color, color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #2196F3;
}

.modal-input:focus+.modal-input-icon {
    fill: #2196F3;
}

.modal-coment::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.modal-coment {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    padding: 12px 16px;
    transition-property: border-color, color, fill, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment:focus {
    border-color: #2196F3;
}

.modal-coment::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.text-check {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
}

.text-check-2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em text-decoration-line: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2196F3;
    margin-left: 5px;
}

.btn-sub {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: auto;
    transition-property: border-color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sub:hover {
    background-color: #188CE8;
}

.btn-sub:focus {
    background-color: #188CE8;
}


.text-check span {
    border-radius: 3px;
    border: 2px solid #212121;
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 5px;
    transition-property: border-color, background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.text-check span {
    fill: #ECECEC;
    background-color: #2196F3;
    border-color: transparent;
}

.input-check:hover+.text-check span {
    border-color: #2196F3;
}

.subs {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form-subs {
    margin-left: 93px;
}

.input-btn-form {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: center;
}

.buttom-subs {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 28px;
    transition-property: border-color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-subs:hover {
    background-color: #188CE8;
    ;
}

.buttom-subs:focus {
    background-color: #188CE8;
}

.form-icon {
    fill: #EEEEEE;
}

.text-subs {
    width: 110px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-right: 10px;
}

.input-subs {
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 30px;
    color: #AFB1B8;
}

.input-subs::placeholder {
    padding-left: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
